/* Elements */
html{
 height: 100%;
 width: 100%;
}

body {
    padding-top: 5%;
    background-image: url(https://blogrebellive.files.wordpress.com/2013/09/grey-background-for-site11.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: top center;
    background-color: black;
    background-size: 100%;
    padding: 5%;
}

p {
    color: black;
    font-family: Consolas;
    font-size: 120%;
    padding: 1%;
}

#listitems {
    color: black;
    font-family: Consolas;
    font-size: 120%;
}

h1 {
    color: black;
    font-family: myFirstFont;
    font-size: 500%;
    text-shadow: 2px 2px 4px #dadeff;
}

h2 {
    color: black;
    font-family: Consolas;
    font-size: 200%;
}

h3 {
    color: black;
    font-family: Consolas;
    font-size: 150%;
    font-family: fantasy;
}

.list-group-item-heading {
    color: black;
    font-family: Consolas;
    margin-left: auto;
    margin-right: auto;
}
.list-group-item-text {
    color: black;
    font-family: Consolas;
    margin-left: auto;
    margin-right: auto;
}

.computerSkills {
    color: white;
    font-family: Consolas;
    font-size: 120%;
    padding: 2%;
}

.list-group {
    color: white;
    font-family: Consolas;
    font-size: 100%;
    padding: 2%;
}

.cs-list-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #464944;
    border: 1px solid #ddd;
}

.skillIcon {
    font-size: 500%;
    padding: 2%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 142px;
}
.site-footer {
    background: orange;
}

.buttonsResume {
    height: 100%;
    width: 100%;
    padding: 2%;
}

.footerSize{
    height: 2%;
    width: 100%;
    padding: 2%;
}

.navBarTitle {
    font-family: myFirstFont;
}

.navBarIcon {
    font-family: myIconFont;
}


/* images */

.img-thumbnail{
    height: 43%;
    width: 43%;
    align: "center";
}

.JabilPic{
    height: 40%;
    width: 40%;
    align: "left";
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.JabilLogo{
    height: 30%;
    width: 30%;
    align: "left";
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.LockheedLogo {
    height: 40%;
    width: 40%;
    align: "left";
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.LockheedPic {
    height: 50%;
    width: 50%;
    align: "left";
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.UFlogo {
    height: 60%;
    width: 60%;
    padding: 2%;
}

.IPPDlogo{
    height: 30%;
    width: 30%;
    padding: 1%;
}

.UFBlock{
    align: "left";
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

.icon {
    height: 10%;
    width: 10%;
}

.OrlandoCityLogo{
    height: 45%;
    width: 45%;
    padding: 2%;
}

.RowdiesLogo{
    height: 45%;
    width: 45%;
    padding: 2%;
}

.RowdiesPic{
    height: 50%;
    width: 50%;
    align: "left";
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.SoccerBlock{
    align: "left";
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

.Fishing1{
    height: 40%;
    width: 40%;
    padding: 1%;
}

.Fishing2{
    height: 40%;
    width: 40%;
    padding: 1%;
}

.kenanIcon {
    height: 30%;
    width: 30%;
    margin-left: 10%;
    margin-right: 20%;
    padding: 1%;
}

.cerebroStimPic {
    height: 30%;
    width: 30%;
    padding: 1%;
    margin-right: 0px;
    margin-left: 60px;
    align-content: center;
}

.bostPic {
    height: 50%;
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
}

.ippdBanner {
    height: 80%;
    width: 80%;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.MedtronicPic {
    height: 40%;
    width: 40%;
    padding: 1%;
    margin-left: 0px;
    margin-right: 20px;
}

.dbsVideo {
    margin-left: 30%;
    margin-right: 50%;
    padding: 1%;
}

.jabilCross{
    height: 20%;
    width: 20%;
    padding: 1%;
    margin-left: 30%;
    margin-right: 30%;
}
.ippdTeam{
    height: 50%;
    width: 50%;
    padding: 1%;
    margin-left: 20%;
    margin-right: 0%;
}
.ippdTeam1{
    height: 40%;
    width: 40%;
    padding: 1%;
    margin-left: 10%;
    margin-right: 0%;
}


/* Fonts */
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/hypefonts_neoteric/NEOTERICc%20-%20Regular%20DEMO%20VERSION.ttf);
}

@font-face {
    font-family: myIconFont;
    src: url(../fonts/gluk_foglihtenfr02/FoglihtenFr02.otf);
}

